 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

 * {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
     font-family: "Jost", sans-serif;
 }

 .container {
     max-width: 1400px;
     margin: auto;
 }

 :root {
     --secondary: #cb354e;
     --primary: #ffff;
     --accent: #199588;
 }

 .top-header {
     display: flex;
     justify-content: space-between;
     background-color: var(--secondary);
     height: 50px;
     align-items: center;
     color: var(--primary);
     padding: 10px;
 }

 .top-header-center>a {
     color: var(--primary);
 }

 .top-header-right {
     display: flex;
     gap: 20px;
 }

 ul>li {
     list-style: none;
 }

 @media (max-width:1020px) {

     .top-header-left,
     .top-header-right {
         display: none;
     }

     .top-header-center {
         margin: auto;
     }
 }

 /* navbar */

 nav {
     display: flex;
     justify-content: space-between;
     background-color: aqua;
     height: 100px;
     align-items: center;
     padding: 0 10px;
 }


 /* .logo{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;
} */
 .menu>ul {
     display: flex;
     gap: 20px;
 }

 .menu>ul>li>i {
     font-size: 10px;
 }

 .menu-sale {
     background-color: var(--accent);
     border-radius: 10px;
     color: var(--primary);
     font-size: 12px;
     padding: 5px 10px;
 }

 .hot-menu {
     background-color: var(--secondary);
 }

 .dropdown-menu {
     position: relative;

 }

 .dropdown {
     position: absolute;
     background-color: var(--primary);
     box-shadow: 1px 1px #888888;
     width: 200px;
     padding: 10px;
     display: none;

 }

 .dropdown>li {
     padding: 10px;

 }

 .dropdown>li>a {

     text-decoration: none;
     color: black;

 }


 .dropdown-menu:hover .dropdown {
     display: block;
 }

 .FAQs-ASK {
     background-color: rgb(231, 211, 215);
     color: rgb(204, 144, 154);
     border-radius: 10px;
     font-size: 12px;
     padding: 5px 10px;
 }

 .Tabs-New{
    background-color: rgb(171, 224, 241);
    color: rgb(112, 150, 165);
 }