@font-face {
    font-family: "Jost";
    src: url(fonts/Jost/static/Jost-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

.container {
    max-width: 1400px;
    margin: 0px auto;
}

:root {
    --secondary: #cb354e;
    --primary: #ffff;
    --accent: #199588;
}

ul>li {
    list-style: none;
}

/* ====== Top Header =========== */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    color: var(--primary);
    height: 50px;
    padding: 0px 10px;
}

.top-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.top-header a {
    color: var(--primary);
}

.bar {
    width: 1px;
    height: 15px;
    background-color: var(--primary);
}

@media (max-width:1020px) {

    .top-header-left,
    .top-header-right {
        display: none;
    }

    .top-header-center {
        margin: auto;
    }
}

/* ============= Navbar ============== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 100px;
    padding: 0px 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu>ul {
    display: flex;
    gap: 20px;
}

.menu>ul>li>i {
    font-size: 10px;
}

.menu-sale {
    background-color: var(--accent);
    color: var(--primary);
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 8px;
}

.menu-hot {
    background-color: var(--secondary);
}

.icons {
    display: flex;
}

.icons>i,
.heart-zero>i {
    margin-left: 10px;
    font-size: 20px;
}

.heart-zero {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.heart-zero>p {
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 50%;
    height: 15px;
    width: 15px;

}

.checkbox,
aside {
    display: none;
}

.dropdown-menu {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 20px;
    background-color: forestgreen;
    width: 250px;
    height: 250px;
    display: none;

}

.dropdown-menu:hover .dropdown {
    display: block;
}

@media (max-width:1024px) {
    .menu-desktop {
        display: none;
    }

    .menu>ul {
        flex-direction: column;
    }

    .hero-section {
        position: relative;
    }

    aside {
        position: absolute;
        top: 0px;
        background-color: chocolate;
        height: 100vh;
        width: 80%;
        /* transform: translateX(-100%); */
        display: none;
    }

    #toggle-btn:checked+aside {
        /* transform: translateX(100%); */
        display: block;
    }
}