/* universal selector */
/* *{
    color: brown;
} */
/* type selector */
h1,p {
    color: chartreuse;
}

/* class selector */
.para-2{
    background-color: rgb(255, 128, 128);
    color: blue;
}
/* ID selector */
#CSS-abbr{
     color: crimson;
}
/* child selector */
ol>li{
 background-color: rgb(255, 128, 128);
}
/* class selector */
.ol-color-change{
    color: rgb(98, 248, 98);
}
/* descendant selector */
ol a{
    font-style: italic;
}
/* Adjacent Sibling
Selector */
h4+p{
    background-color: brown;
}
/* General Sibling
Selector*/
h4~p{
    background-color: brown;
}
